@font-face {
    font-family: 'VisualTrial';
    src: url('VisualTrial-Regular.woff2') format('woff2'),
        url('VisualTrial-Regular.woff') format('woff'),
        url('VisualTrial-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

