body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  display: flex;

  /*text selection */
  webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


/* layout main */

#main {
  width: 100vw;
  height: 100vh;
  background: #FFF;
  overflow: auto; /*hidden*/
  display: flex;
  flex-direction: row;
}

#applicationMenu {

}

#nodes,
#viewer {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #F8F8F8;
}

#nodes {
  display: block;
}

#viewer {
  display: none;
}


/*application menu*/
#applicationMenu > * {
  text-align: center;
  padding: 0.5rem;
  font-size: 0.8em;
  cursor: pointer;
}

#applicationMenu > *:hover {
  background: #EEE;
}


#applicationMenu > *::before {
  content: url(assets/copy.svg);
  width: 2rem;
  display: block;
  margin: 0.5rem auto 0.5rem;
}


/*nodes*/
#nodeArea {
  position: relative;
  width: 100%;
  height: 100%;
}

#functionPanel {
  margin: 2rem 2rem 0 2rem;
  color: #000;
  position: absolute;
  height: calc(100% - 4rem);
  width: calc(100% - 4rem);
  z-index: 2;
  background: #FFF;
  border: 1px solid #DDD;
  display: none;
  top: 0;
  left: 0;
}

#functionPanel[data-active] {
  display: flex;
  flex-direction: column;
}

#nodeMenu {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}


/* node menu */

#nodeMenu > * {
  padding: 0.5rem 1rem;
  background: #FFF;
  cursor: pointer;
}

#nodeMenu > *:hover {
  background: #EEE;
}



/* function panel */
#functionSearchBar {
  display: flex;
  border-bottom: 1px solid #DDD;
}

#functionSearchBar > * {
  display: block;
  padding: 1rem;
}

#functionSearchBar input {
  border: none;
  width: 100%;
}

#clearFunctionSearch,
#closeFunctionPanel {
  cursor: pointer;
}

#clearFunctionSearch:hover,
#closeFunctionPanel:hover {
  background: #EEE;
}

#functionList {
  overflow: auto;
}

.section-title {
  padding: 0.5rem 1rem;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.function {
  cursor: pointer;
  display: flex;
}

.function:hover {
  background: #DDD;
}

.function .icon {
}

.function .labels {
  padding: 0.5rem 1rem;
}

.function .title {
  text-transform: capitalize;
}

.function .description {
  font-size: 0.8em;
  color: #222;
}

#functionActions {
  display: flex;
  flex-direction: row;
}

#functionActions .functionAction {
  padding: 1rem;
  cursor: pointer;
  background: #EEE;
  font-size: 0.8em;
  width: 100%
}

#functionActions .functionAction:hover {
  background: #DDD;
}

/* node */
.node {
  position: absolute;
  display: flex;
  flex-direction: row;
  background: #FFF;
  border: 1px solid #CCC;
}

.node > .title {
  background: #F8F8F8;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.node.disabled .title,
.node.disabled .values-titles,
.node.disabled .connectors,
.node.disabled select,
.node.disabled input,
.node.disabled {
  background-color: #c7c7c7;
}

.node.execute > .title,
.node.execute .connectors {
  background-color: #FFF;
}

.connectors {
  text-align: right;
  background: #F8F8F8;
}

.connector {
  display: inline-block;
  position: relative;
  height: 20px;
  width: 20px;
  vertical-align:top;
}


.connector:hover::after {
  content: attr(data-title);
  color: #999;
  position: absolute;
  left: 0;
  padding: 5px 10px;
  box-sizing: border-box;
  white-space: nowrap;
}

.connector.in:hover::after {
  top: -150%;
}

.connector.out:hover::after {
  top: 110%;
}

svg {
  z-index: 0;
  position: absolute;
  overflow: visible;
}

svg path.connection {
  stroke-width: 2px;
  stroke: #888;
  fill: none;
}

svg path.fatline {
  stroke-width: 20px;
  stroke: #888;
  opacity: 0.1;
  fill: none;
  cursor: pointer;
}

svg path.fatline:hover {
  opacity: 0.5;
}

/* value */

.values {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.values-titles > *,
.values-values > * {
  height: 1.5rem;
  display: block;
}

.values-titles > * {
  display: flex;
  align-items: center;
}

.values-titles .title {
  display: block;
  font-size: 0.7em;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.value.string input,
.value.number input,
.value.file input,
.value.vec3 input  {
 display: block;
 padding: 5px;
 border: none;
 box-sizing: border-box;
 background: none;
 text-align: left;
}

.value.string input,
.value.number input,
.value.file input {
  width: 150px;
}

.value.file input {
  text-align: right;
}

.value.vec3 {
  display: flex;
  flex-direction: row nowrap;
  
}

.value.vec3 input {
  width: 50px;
} 

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkmark {
  margin-left: auto;
  display: block;
  position: relative;
  height: 100%;
  width: 25px;
  background: #EEE;
}

input[type="checkbox"]:checked ~ .checkmark {
  background-color: #74bff9;
}


input[type="checkbox"]:checked ~ .checkmark:after {
  display: block;
}


select{
    height: 1.5rem;
    background-color: #FFF;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: none;
    border-radius: 0;
    margin: 0;
    width: 100%;
    padding: 0rem 2rem 0 1rem;
    box-sizing: border-box;

    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
    background-position: calc(100% - 15px) calc(1em - 3px), calc(100% - 10px) calc(1em - 3px);
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;
}

.checkmark:after {
  display: none;
  content: "";
  position: absolute;
  left: 10px;
  top: 5px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* action panel */

#actionPanel > * {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 0.8em;
}

#actionPanel > *:hover {
  background: #EEE;
}

#actionPanel .delimiter {
  border-right: 1px solid #DDD;
}

#actionPanel .active {
  background: #DDD;
}

/*messages*/

#messagePanel {
  position: absolute;
  text-align: right;
  right: 0;
  top: 0;
  width: 22rem;
  height: 100vh;
  z-index: 15;
  pointer-events: none;
  display: flex;
  flex-direction: column;
}

#messageList {
   overflow: auto;
   height: 100%;
}

#messagePanelTop {
  display: none;

}

#messagePanel .message,
#messagePanel .progressBar {
  padding: 0.5rem 2rem;
  width: 100%;
  background: #F8F8F8;
  box-sizing: border-box;
  pointer-events: all;
}

#messagePanel .message {
  display: none;
}

#messagePanel .message[data-active] {
  display: block;
}

#messagePanel .message:hover {
  background: #fde9e9;
  cursor: pointer;
}

#messagePanel .title {
  font-size: 0.8em;
  margin-bottom: 0.5rem
}

#messagePanel .progressBar {
  background: #F8F8F8;
}

#messagePanel .progressBarContainer {
  height: 2px;
  margin-bottom: 0.5rem;
  background: #FFF;
}

#messagePanel .progressBarLine {
  background: #CCC;
  height: 100%;
  float: right;
  transition: width 0.1s;
}

/*message view*/

#messagePanel[data-active] {
  pointer-events: all;
  background: #FFF;
}

#messagePanel[data-active] #messagePanelTop {
  display: flex;
  justify-content: flex-end;
}

#messagePanel[data-active] #closeMessagePanelButton {
  padding: 1rem;
}

#messagePanel[data-active] #closeMessagePanelButton:hover{
  background: #EEE;
  cursor: pointer;
}

#messagePanel[data-active] .progressBar {
  background: #FFF;
}



#messagePanel[data-active] .message {
  display: block;
  background: #FFF;
}



/*viewer*/
#viewerCanvas {
  width: 100%;
  height: 100%;
}

